<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shorty</title>
  <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
  <section class="hero is-fullheight is-light is-bold">
    <div class="hero-head">
      {%- block head -%}{%- endblock -%}
    </div>
    <div class="hero-body">
      <div class="container">
        {%- block body -%}{%- endblock -%}
      </div>
    </div>
    <div class="hero-foot">
      {%- block footer -%} {%- endblock -%}
    </div>
  </section>
  {% block scripts %} {% endblock %}
</body>
</html>
