{{ define "body" }}
<div class="has-text-centered">
    <h1 class="title">404</h1>
    <h2 class="subtitle">This link does not exist anymore.</h2>
    <p>
        <a class="button is-info" href="/">
            <i class="fas fa-random"></i> &nbsp;
            Create a new one!
        </a>
    </p>
</div>
{{ end }}

{{ template "base" . }}
