{{ define "body" }}
{{ $link := formatLink .Shorty.Shorty .Request }}

<div class="columns is-centered">
    <div class="column is-one-third has-text-centered">
        <h1 class="title is-6">Your shorty:</h1>
        <hr>
        <h2 class="title is-3">
            <a href="{{ $link }}"> {{ $link }} </a>
        </h2>
        <hr>
    </div>
</div>
{{ end }}

{{ template "base" . }}
