{% extends '../base.html.j2' %}

{% block body %}
<div class="columns is-centered">
  <div class="column is-one-third-desktop is-half-tablet">
    <h1 class="title is-3">Shorty</h1>
    <h2 class="subtitle">Login please.</h2>

    {%- include "../partials/flash.html.j2" -%}

    <div class="box">
      <form class="form" method="post" action="/_l" id="form">
        <div class="field">
          <div class="control">
            <input
              class="input"
              type="text"
              id="username"
              name="username"
              placeholder="Username"
              value="{{ oldVal }}"
              required
            />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <input
              class="input"
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
        </div>

        <div class="has-text-centered">
          <button class="button is-primary is-fullwidth" type="submit" id="btn">
            <i class="fas fa-user-lock"> </i> &nbsp; Submit
          </button>
        </div>

        <input type="hidden" name="_csrf" value="{{ _csrf }}">
      </form>

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const btn = document.getElementById('btn')
    const form = document.getElementById('form')

    form.addEventListener('submit', e => {
      e.preventDefault()
      if (!form.checkValidity()) {
        return false
      }
      btn.disabled = true
      btn.classList.add('is-loading')
      form.submit()
    })
  })
</script>
{% endblock %}
